<app-navbar></app-navbar>
<div class="hero-section-wrapper">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-5 col-md-6">
                <div class="home-product-content">
                    <h1>Insurance Matters In Your Life</h1>
                    <p>Quick, easy & hassle-free insurance search.</p>
                </div>
                <div class="home-product-cover">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-6 pro-repo">
                            <div class="insurance-product-box">
                                <a class="" href="https://bimaakawach.com/car-insurance/vehicle">
                                    <img src="../assets/feature-car.png" width="100%" alt="about" />
                                    <p>Four Wheeler</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-6 pro-repo">
                            <div class="insurance-product-box">
                                <a href="https://bimaakawach.com/bike-insurance/vehicle" class="">
                                    <img src="../assets/bike.png" width="100%" alt="about" />
                                    <p>Two Wheeler</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-6 pro-repo">
                            <div class="popover__wrapper">
                                <div class="insurance-product-box popover__title">
                                    <img src="../assets/heart.png" width="100%"
                                        alt="about">
                                    <p>Health Insurance</p>
                                </div>
                                <div class="popover__content">
                                    <a href="https://bimaakawach.com/healthinsurancepremium?policy_type=Individual">Health
                                        Individual</a>
                                    <a href="https://bimaakawach.com/healthinsurancepremium?policy_type=Floater">Health Floater</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-6 pro-repo">
                            <div class="insurance-product-box">
                                <a class="coming-soon">
                                    <img src="../assets/umbepng.png" width="100%"
                                        alt="about" />
                                    <p>Term Insurance</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-6 pro-repo">
                            <div class="insurance-product-box">
                                <a class="coming-soon">
                                    <img src="../assets/personal-accident.png" width="100%"
                                        alt="about" />
                                    <p>Personal Accident</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-6 pro-repo">
                            <div class="insurance-product-box">
                                <a class="coming-soon">
                                    <img src="../assets/aero.png" width="100%"
                                        alt="about" />
                                    <p>Travel Insurance</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-lg-block d-md-none"></div>
            <div class="col-lg-5 col-md-6">
                <div class="hero-section-image">
    
                    <div class="owl-carousel owl-theme" id="hero-caraousel">
                        <div class="item">
                            <img src="../assets/img1png.png" width="50%" class="" alt="about"
                                style="width:100%!important" />
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="award-winning-wrapper">
    <div class="container">
        <div class="feature-home-title">
            <p class="title-sub-title"> Our Features </p>
            <h3>
                Our expertise lies in serving all lines of business mentioned below
            </h3>
        </div>
        <div class="award-winning-box-cover">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="award-winning-box award-winning-box-first">
                        <div class="award-winning-icon-box">
                            <img src="../assets/heart.png" width="100%" alt="about" />
                        </div>
                        <div class="text-content">
                        <h5> Health Insurance </h5>
                        <p>In today's fast-paced world, we forget one of the most important things in our race to excel
                            at everything.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="award-winning-box award-winning-box-sec">
                        <div class="award-winning-icon-box">
                            <img src="../assets/umbepng.png" width="100%"
                                alt="about" />
                        </div>
                        <div class="text-content">
                        <h5> Term Insurance </h5>
                        <p> Life insurance is a way to leave money behind for the people who depend on you for financial
                            support: partners, children, and even parents.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="award-winning-box award-winning-box-third">
                        <div class="award-winning-icon-box">
                            <img src="../assets/feature-car.png" width="100%" alt="about" />
                        </div>
                        <div class="text-content">
                            <h5> Motor Insurance </h5>
                            <p> According to the Indian Motor Vehicles Act of 1988, vehicle owners must have motor insurance
                                policies.</p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="award-winning-box award-winning-box-fourth">
                        <div class="award-winning-icon-box">
                            <img src="../assets/aero.png" width="100%"
                                alt="about" />
                        </div>
                        <div class="text-content">
                        <h5> Travel Insurance </h5>
                        <p> When you are making your vacation plans do not forget one vital aspect! Travel insurance is
                            today the need of the hour.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="why-choose-us-wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="why-choose-us-image">
                    <img src="../assets/img2.png" width="100%" class="vert-move" alt="about" />
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="award-winning-title">
                    <p class="title-sub-title"> Our Features </p>
                    <h3>We are Committed to protecting Your Dreams</h3>
                    
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-6 choose-repo">
                <div class="why-choose-us-points-box">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-md-10 col-10">
                            <div class="why-choose-us-points">
                                <h5>Professional Assistance. </h5>
                                <p>Highly experienced and knowledgeable staff who can help you get the best coverage you
                                    need.</p>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="col-lg-12 col-md-6 choose-repo">
                <div class="why-choose-us-points-box">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-md-10 col-10">
                            <div class="why-choose-us-points">
                                <h5>Competitive Pricing & Full Coverage</h5>
                                <p>No matter if you're a new or experienced client, we're here to make sure you get the
                                    best coverage, rate, and peace of mind.</p>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="col-lg-12 col-md-6 choose-repo">
                <div class="why-choose-us-points-box">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-md-10 col-10">
                            <div class="why-choose-us-points">
                                <h5>Hassle-Free Online Insurance</h5>
                                <p>Now get a free quote online & purchase an insurance policy easily. Just enter your
                                    information, get an instant quote.</p>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="col-lg-12 col-md-6 choose-repo">
                <div class="why-choose-us-points-box">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-md-10 col-10">
                            <div class="why-choose-us-points">
                                <h5>Supportive Services</h5>
                                <p>We’re always here when you need us. We work to get you a fair settlement that puts
                                    you back where you belong.</p>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="advantage-section-wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 order-lg-0 order-md-0 order-1">
                <div class="advantage-section-title">
                    <h3>Bimaakawach Advantage</h3>
                </div>
                <div class="advantage-section-points-box">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-10">
                            <div class="advantage-section-points">
                                <p>The most affordable prices Guaranteed.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantage-section-points-box">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-10">
                            <div class="advantage-section-points">
                                <p>Independent Advice the priority of the client.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantage-section-points-box">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-10">
                            <div class="advantage-section-points">
                                <p>100% Trustworthy governed by IRDAI.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantage-section-points-box">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-10">
                            <div class="advantage-section-points">
                                <p>claims Supported by Made stress-free.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantage-section-points-box">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-2">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11 col-10">
                            <div class="advantage-section-points">
                                <p>Every day of the week, we are happy to assist.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-lg-block d-md-none"></div>
            <div class="col-lg-5 col-md-5">
                <div class="why-choose-us-image why-choose-us-image-repo">
                    <img src="../assets/img3.png" width="100%" class="vert-move" alt="about" />
                </div>
            </div>
        </div>
    </div>
</div>
